@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    outline: none;
    border: none;
    letter-spacing: 1.2px;
}

body{
    position: relative;
    width: auto;
    height: auto;
}

header{
    max-height: 5rem;
    width: 100vw;
    background-color: rgb(113, 146, 113);
    padding: 1rem;
    z-index: 100;
    margin: 0;
}

.navbar{
    margin: 0 2rem;
}

nav{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 3rem;
}

.web-logo{
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 5px;
}

nav a{
    margin-right: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

button.filter-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: #fff;
    cursor: pointer;
}

button.filter-icon:hover{
    background-color: #e0ffda;
}

.profile{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: #fff;
}

.search-bar{
    padding: 0.5rem;
    width: 20rem;
    border: 2px solid lightgrey;
    outline: none;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.icons{
    display: flex;
    margin-left: auto;
    align-items: center;
}

button.menubtn{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
}

ul.menulists{
    list-style: none;
    margin-top: 4rem;
    animation: slide-down 0.5s ease-out;
    position: absolute;
    left: 0;
    top: 1%;
    z-index: 2;
    width: 100%;
}

ul.menulists>li{
    text-align: center;
    padding: 15px;
    background: #1f5131;
    border-bottom: 1px solid #3b7951;
    cursor: pointer;
    color: white;
}
ul.menulists>li:hover {
    background: #245e39;
}

@media screen and (max-width: 768px) {
    .navbar{
        margin: 0;
    }

    .logo {
        margin: 0;
        margin-right: 20px;
    }

    nav a {
        margin-right: 10px;
    }

    .search-bar {
        width: 100px;
    }

    .heading{
        font-size: 20px;
    }
}

main{
    position: relative;
    width: 100vw;
    
}

.main-container{
    width: 100vw;
}

.sub-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.form-container{
    width: 500px;
    height: 90vh;
    background-color: #edefee;
    padding: 2rem;
    max-height: auto;
    overflow-y: scroll;
}

.sell-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.field{
    width: 100%;
    display: flex;
    flex-direction: column;
}

label{
    font-weight: bold;
}

.field > input{
    width: 100%;
    padding: 1rem;
    border: 2px solid #c9c9c9;
}

#details{
    width: 100%;
    height: 200px;
    max-height: auto;
    overflow-y: scroll;
    padding: 1rem;
    border: 2px solid #c9c9c9;
}

.apartment-type{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.radio{
    display: none;
}

.option-label{
    display: inline-block;
    width: 100px;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
}

.active-option{
    background: rgb(26, 67, 47);
    color: white;
}


.upload-images{
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.main-upload-img{
    width: 600px;
    height: 500px;
}

.main-upload-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-display-img{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-display-img > img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.uploadBtn button{
    width: 100%;
    color: white;
    background-color: rgb(189, 189, 189);
    font-size: 20px;
    font-weight: 600;
    padding: 1rem;
}

.uploadBtn button:hover{
    background-color: #5d5d5d;
    color: white;
}

.submitBtn{
    text-align: center;
}


.submitBtn button{
    width: 90%;
    color: white;
    background-color: rgb(113, 146, 113);
    font-size: 20px;
    font-weight: 600;
    padding: 1rem;
    margin-bottom: 3rem;
}

.submitBtn button:hover{
    background-color: #245e39;
    color: white;
}



footer{
    display: flex;
    justify-content: center;
    background-color: rgb(7, 40, 7);
    width: 100vw;
    height: auto;
    padding: 3rem;
}

.links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.companyinfo{
    width: auto;
    height: auto;
    align-content: center;
}

.footerlogo{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

button.sns1{
    width: 2rem;
    height: 2rem;
    margin: 0 3px;
    border-radius: 50%;
    background-color: white;
}

.snslinks{
    width: auto;
    height: auto;
}

.nav{
    display: flex;
}

.medialinks{
    width: auto;
    height: auto;
    margin: 0 3rem;
}

.navlink{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.snsimg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #fff;
}

.navigation{
    margin: 30px 0;
}

@media screen and (max-width:768px) {
    .links{
        display: grid;
        grid-template-columns: 130px 1fr;
        justify-content: space-between;
        align-items: center;
    }

    .medialinks{
        width: auto;
        height: auto;
        margin: 0 1.5rem;
    }
}