@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    outline: none;
    border: none;
    letter-spacing: 1.2px;
}

body{
    position: relative;
    width: auto;
    height: auto;
}

header{
    max-height: 5rem;
    width: 100%;
    background-color: rgb(113, 146, 113);
    padding: 1rem;
    z-index: 100;
    margin: 0;
}

.navbar{
    margin: 0 2rem;
}

nav{
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 3rem;
}

.web-logo{
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 5px;
}

nav a{
    margin-right: 1.5rem;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

button.filter-icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: #fff;
    cursor: pointer;
}

button.filter-icon:hover{
    background-color: #e0ffda;
}

.profile{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: #fff;
}

.search-bar{
    padding: 0.5rem;
    width: 20rem;
    border: 2px solid lightgrey;
    outline: none;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.icons{
    display: flex;
    margin-left: auto;
    align-items: center;
}

button.menubtn{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
}

ul.menulists{
    list-style: none;
    margin-top: 4rem;
    animation: slide-down 0.5s ease-out;
    position: absolute;
    left: 0;
    top: 1%;
    z-index: 2;
    width: 100%;
}

ul.menulists>li{
    text-align: center;
    padding: 15px;
    background: #1f5131;
    border-bottom: 1px solid #3b7951;
    cursor: pointer;
    color: white;
}
ul.menulists>li:hover {
    background: #245e39;
}

@media screen and (max-width: 768px) {
    .navbar{
        margin: 0;
    }

    .logo {
        margin: 0;
        margin-right: 20px;
    }

    nav a {
        margin-right: 10px;
    }

    .search-bar {
        width: 100px;
    }
}

main{
    margin: 0 3rem;
}

.recommandation{
    width: auto;
    height: auto;
    margin: 2rem 0;
}

.component-wrapper{
    width: 100%;
    height: 100%;
}

.direction{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

button.back-btn{
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.apartment-comp{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem 0;
}

.save-card {
    width: 380px;
    height: auto;
    background: #eeeeee;
    transition: all 0.4s ease;
    cursor: pointer;
}
  
.save-card .save-card-img {
    background: #8B53FF;
    width: 380px;
    height: 250px;
}
  
.save-card .save-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.save-card-content{
    width: 380px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.save-card-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.save-card-address{
    width: 100%;
    text-align: left;
}

.serviceIcons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
}

.save-card-btns{
    width: 100%;
}

.save-card-btns > button{
    margin: 10px 0;
}

.save-book-btn{
    width: 100%;
    padding: 1rem;
    background-color: rgb(113, 146, 113);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    color: white;
}

.save-book-btn:hover{
    background-color: #326946;
    color: white;
}

.remove-btn{
    width: 100%;
    padding: 1rem;
    border: 2px solid #ababab;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    color: #ababab;
}

.remove-btn:hover{
    border: none;
    background-color: #ababab;
    color: white;
}

.view-more{
    width: 100%;
    text-align: center;
}

.view-more > button{
    padding: 1rem;
    border: 2px solid #ababab;
    font-size: 16px;
    font-weight: 550;
    background-color: transparent;
    color: #ababab;
}

.view-more > button:hover{
    background-color: #ababab;
    color: white;
}



footer{
    display: flex;
    justify-content: center;
    background-color: rgb(7, 40, 7);
    width: 100%;
    height: auto;
    padding: 3rem;
}

.links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.companyinfo{
    width: auto;
    height: auto;
    align-content: center;
}

.footerlogo{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

button.sns1{
    width: 2rem;
    height: 2rem;
    margin: 0 3px;
    border-radius: 50%;
    background-color: white;
}

.snslinks{
    width: auto;
    height: auto;
}

.nav{
    display: flex;
}

.medialinks{
    width: auto;
    height: auto;
    margin: 0 3rem;
}

.navlink{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.snsimg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #fff;
}

.navigation{
    margin: 30px 0;
}

@media screen and (max-width:768px) {
    .links{
        display: grid;
        grid-template-columns: 130px 1fr;
        justify-content: space-between;
        align-items: center;
    }

    .medialinks{
        width: auto;
        height: auto;
        margin: 0 1.5rem;
    }
}