*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: auto;
    height: auto;
}

header{
    height: 80px;
    width: 100%;
    background-color: rgb(113, 146, 113);
    padding: 20px;
    z-index: 100;
    margin: 0;
}

.navbar{
    margin-left: 40px;
    margin-right: 40px;
}

nav{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    margin-right: 50px;
    color: #fff;
}

nav a{
    margin-right: 20px;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.filter-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
}

.profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
}

.search-bar{
    padding: 10px;
    width: 300px;
    border: 2px solid lightgrey;
    outline: none;
    margin-right: 10px;
    border-radius: 10px;
}

.icons{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.menu{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.banner-section{
    width: auto;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.bannerwrapper{
    overflow: hidden;
    width: 100%;
    height: 300px;
    position: relative;
    justify-content: center;
    align-items: center;
}

button{
    width: auto;
    height: auto;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #fff;
}

.bannerbtn{
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.bannerbtn.prev{
    left: 1rem;
}

.bannerbtn.next{
    right: 1rem;
}

.prev-btn{
    width: 10px;
    height: 10px;
    object-fit: cover;
}

.next-btn{
    width: 10px;
    height: 10px;
    object-fit: cover;
}

.banner-pos-wrapper{
    list-style: none;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
    top: 250px;
}

.banner-pos{
    width: 20px;
    height: 20px;
    border: 1px solid cyan;
    border-radius: 50%;
    margin: 0 5px;
}

.banner-pos[data-active] {
    background-color: rgb(255, 255, 255);
}

.slides{
    width: 100%;
    height: 300px;
    justify-content: center;
}

img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.livebanner:not([data-active]) {
    display: none;
}

.card-section{
    margin-top: 2rem;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}

.sliderwrapper{
    overflow: hidden;
    width: 100%;
    height: 450px;
    position: relative;
    justify-content: center;
    align-items: center;
}

button{
    width: auto;
    height: auto;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #fff;
}

.sliderbtn{
    background-color: lightgray;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.sliderbtn.prev{
    left: 1rem;
}

.sliderbtn.next{
    right: 1rem;
}

.prev-btn{
    width: 10px;
    height: 10px;
    object-fit: cover;
}

.next-btn{
    width: 10px;
    height: 10px;
    object-fit: cover;
}

.slider-pos-wrapper{
    list-style: none;
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
    top: 400px;
}

.slider-pos{
    width: 20px;
    height: 20px;
    border: 1px solid cyan;
    border-radius: 50%;
    margin: 0 5px;
}

.slider-pos[data-active] {
    background-color: rgb(0, 0, 0);
}

.card-slides{
    align-items: center;
}

.liveslide{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 300px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 7px;
    overflow: hidden;
    margin-left: 40px;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.card-content h3{
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;
}

.card-content p{
    font-size: 15px;
    color: grey;
}

.card-content button{
    padding: 10px;
    text-align: center;
    border: none;
    outline: none;
    background-color: cyan;
    color: black;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.card-content button:hover{
    background-color: rgb(2, 91, 91);
    color: #fff;
}

.liveslide:not([data-active]) {
    display: none;
}

.city-container{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    justify-content: center;
    z-index: 90;
}

.city-content{
    padding-top: 20px;
    padding-bottom: 20px;
}

.city-head{
    text-align: left;
}

.cities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.city{
    display: flex;
    border: 2px solid black;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.city-image{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
}

.city-name{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
}

.view-more{
    text-align: center;
}

.more-cities{
    text-decoration: none;
    color: rgb(0, 170, 255);
    font-weight: 500;
}

.tips-container{
    width: auto;
    height: auto;
    margin-top: 20px;
    justify-content: center;
    padding: 20px;
    z-index: 80;
}

.tip-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    border: 2px solid rgb(48, 87, 48);
    border-radius: 10px;
    margin: auto;
}

.tip-head{
    margin-bottom: 20px;
}

.tip{
    margin-bottom: 40px;
    width: 400px;
}

.check-tip{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(63, 86, 63);
    font-weight: 600;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.tip-image{
    margin-left: 40px;
}

.tip-img{
    width: 400px;
    height: 200px;
    border: 2px solid #000;
    border-radius: 10px;
}

footer{
    background-color: rgb(7, 40, 7);
    width: 100%;
    height: auto;
}

.links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin: 0 5rem;
}

.companyinfo{
    width: auto;
    height: auto;
    align-content: center;
    margin-left: 5rem;
}

.footerlogo{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    margin-bottom: 20px;
}

.sns1{
    margin: 0 3px;
}

.snslinks{
    width: auto;
    height: auto;
}

.nav{
    display: flex;
}

.medialinks{
    width: auto;
    height: auto;
    margin: 0 3rem;
}

.navlink{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.snsimg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #fff;
}

.navigation{
    margin: 30px 0;
}